@import '~normalize.css'
@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Roboto&display=swap')
@import 'todo'
@import 'header'
@import 'main'
@import 'task_panel'
@import 'favorite'
@import 'themes'
@import 'scrollbar'

*
    margin: 0
    padding: 0
    box-sizing: border-box

body
    background: #eeeeee
    height: 100%
    font-family: 'Roboto', sans-serif
    height: 100vh
    overflow: hidden

#app
    height: 100%
    display: flex
    justify-content: center
    align-items: center
