@import '_mixins'
@import '_variables'

.scrollbar
    position: absolute
    right: 3px
    bottom: 0
    width: 4px
    height: 100%
    display: none
.scroller
    width: 4px
    background: #EEEEEE
    border-radius: 5px
    cursor: pointer
    position: absolute
    z-index: 100
    &.favorite
        z-index: 200
    &:hover
        background: #ccc
