@import '_variables'
@import '_mixins'

.todo__main
    margin-top: 25px
    height: 350px
    width: 100%
    overflow: auto
    margin-bottom: 10px
    &__task
        +task_panel()
        padding: $padding_task_panel
        & .task__done
            +task_button()
            +button_center()
            & .btn_done
                font-size: 18px
                color: $main_color
                padding-top: 2px
                display: none
            & .selected
                display: block
        & .task__text
            +task_text()
        & .task__btn_important
            min-width: 20px
            min-height: 20px
            +button_center()
            & .btn_important
                color: $main_color
            & .selected
                color: $opacity_bg
